div{
  @include container();
  h1{
    @include font-h1($on-background);
  }
  div{
    @include font-p($on-background);
    display: flow;
    & *{
      margin-right: 10px;
    }
    input{
      @include font-p();
      padding: 5px;
    }
    button{
      @include button($primary-light, $on-primary-light);
      @include font-p($on-primary-light);
    }
  }
  table{
    padding-left: 10px;
    border-collapse: collapse;
    //width: 100%;
    thead{
      @include font-h5();
      tr{
        th{
          padding-right: 10vw;
        }
      }
    }
    tbody{
     tr{
       transition: border 0.05s;
       border-radius: 50%;
       padding: 5px;
       height: 35px;
       td {
         padding-right: 10vw;
         @include font-h5($on-background);
       }
       &:hover {
         border: $primary-light 2px solid;
       }
     }
    }
  }
}